// @import "compass";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

table, th, td {
	width: 100%;
	border: none;
}

body, html {
	height: 120%;
	width: 100%;
 	margin: 0;
 	padding: 0;
	position: relative;
	margin-top: -10px;
	
	.container1, .container2, .container3 {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
    	z-index: -1000;
	}
	
	.container1 {
		background-image: linear-gradient(#EEBAA5, #DE7D8E 70%);
	}
	
	.container2 {
		background: #5583BE;
	}
	
	.container3 {
		background-image: linear-gradient(#EF4700 20%, #FF9919 90%);
	}
	
	.content {
		background-image: url('http://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Silhouettes-PNG/Palm_Trees_Silhouette_PNG_Clip_Art_Image.png?m=1463584089');
		background-size: 500px;
		background-repeat: no-repeat;
		height: 500px;
		width: 500px;
		position: absolute;
		bottom: 0;
		left: -120px;
	}
}

@keyframes opacity-change1 {
	0%, 100% { opacity: 1; }
	50% { opacity: 0; }
}

@keyframes opacity-change2 {
	0%, 100%, 50% { opacity: 0; }
	25% { opacity: 0.5; }
	75% { opacity: 0.5; }
}

@keyframes opacity-change3 {
	0%, 100% { opacity: 0; }
	50% { opacity: 1; }
}
	
.container1 {
  animation: opacity-change1 10s infinite;
}
	
.container2 {
  animation: opacity-change2 10s infinite;
}
	
.container3 {
	animation: opacity-change3 10s infinite;
}

.sidebarNav {
	position: absolute;
  	left: 0px;
	z-index: 10000;
	font-size: xx-large;
	top: 0px;
}

.walletConnect {
	position: absolute;
  	right: 0px;
	z-index: 10000;
	font-size: xx-large;
}

h1, h2 {
	font-family: 'Pacifico', cursive;
}

ul, li {
	text-align: left;
}

.main {
	width: 60%;
    margin: auto;

	p {
		text-align: left;
		font-size: large;
	}
}

.sidebarContent {
	text-align: left;
	padding: 25px;
	z-index: -1000;
}

.sidebarOpen {
	z-index: 1000;
}

.sidebarClosed {
	z-index: -1000;
}